@font-face {
  font-family: "Bebas Neue Cyrillic";
  src: local("Bebas Neue Cyrillic"), local("./fonts/BebasNeueCyrillic"),
    url("./fonts/BebasNeueCyrillic.woff2") format("woff2"),
    url("./fonts/BebasNeueCyrillic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
/* -----header----- */
.header {
  background-color: #635854;
  padding: 12px 0 12px;
  border-bottom: 4px solid #3596f5;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}

.navbar-item {
  margin: 0 40px 0;
}

.navbar-link {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
}

.navbar-contacts {
  text-align: right;
}

.navbar-text {
  display: block;
  color: #fff;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.navbar-phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
}

/* -----main----- */

.main {
  padding-top: 54px;
}

.main-section {
  display: flex;
}

/* -----home-image----- */

.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}

path.current-floor{
  opacity: 1;
}

/* -----main-info----- */

.main-info {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.main-title {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  text-transform: uppercase;
  color: #635854;
  font-size: 24px;
  line-height: 37px;
  font-weight: normal;
  margin: 0;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.counter-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.counter {
  color: #635854;
  font-size: 124px;
  font-family: "Bebas Neue Cyrillic", sans-serif;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}


.button-primary{
  border-radius: 6px;
  background: #3596f5;
  padding: 16px 34px;
  color: #FFF;
  border: none;
  cursor: pointer;
}

